.spotlight {
    background-color: rgb(203,178,193);
    padding: 1%;
    box-shadow: 2px 2px 6px 2px #BBB;
}

.spotlight-inner {
    background-color: white;
    border-radius: 15px;
    margin: 10%;
    margin-top: 12%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    box-shadow: 2px 2px 6px 2px rgb(163,138,153);
}

.spotlight-column {
    width: 20%;
    padding: 3%;
    padding-top: 8%;
    padding-bottom: 8%;
}

.spotlight-title {
    font-size: 3em;
}

.spotlight-subtitle {
    font-size: 2em;
}

p {
    font-size: 1.5em;
    line-height: 1.5em;
}

@media (max-width: 768px) {
    .spotlight-inner {
        flex-direction: column;        
        margin: 5%;
        margin-top: 15%;
        gap: 20px;
    }

    .spotlight-column {
        width: 100%; /* Columns take full width */
        padding: 2%; /* Adjust padding for better spacing */
        padding-left: 0%;
        text-align: center; /* Center-align content */
    }

    .spotlight-title {
        font-size: 3em; /* Reduce title size */
    }

    .spotlight-subtitle {
        font-size: 1.5em; /* Reduce subtitle size */
    }

    p {
        font-size: 1em; /* Adjust paragraph font size */
        line-height: 1.2em; /* Slightly decrease line height */
    }
}
