.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
    padding-bottom: 10%;
}

.video-title {
    margin-bottom: 5%;
    font-size: 3em;
}

video {
    width: 30%;
}

@media (max-width: 768px) {
    .video-container{
        margin: 5px; 
    } 

    video {
        width: 60%;
    }
}