@font-face {
  font-family: 'Creato Display';
  src: url('/src/CreatoDisplay-Medium.otf');
}

@font-face {
  font-family: 'Gilroy';
  src: url('/src/Gilroy-Regular.ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Creato Display', sans-serif;
  margin-top: 30px;
  padding: 0;
  background-color: #ede8f5;
}

.App {
  text-align: center;
  padding: 2rem;
}

hr {
  border-top: 1px solid rgb(127,52,72);
}

@media (max-width: 768px) {
  body {
    width: 96%;
  }
}
